@import "./theme/colors.scss";
@import "./theme/typography.scss";

.Form {
  @include body-text;
  padding: 5px 0;

  border: 2px solid #222;
  display: flex;
  flex-direction: row nowrap;
}

.Form__section {
  flex-basis: 500px;
  padding: 20px;
}

.Form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.Form__field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0 0 5px;

  &:nth-child(odd) {
    background-color: $gray-f0;
  }
}

/* stylelint-disable */
.Form__field input {
  /* stylelint-enable */
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;

/* stylelint-disable */
  &:focus {
  /* stylelint-enable */
    border-bottom: 2px solid #bbb;
  }
}

/* stylelint-disable */
.Form__field > .react-datepicker-wrapper {
  /* stylelint-enable */
  margin-right: -18px;
}

/* stylelint-disable */
.Form__field > .react-datepicker-wrapper input {
  /* stylelint-enable */
  @include font-monospace;
  text-align: right;
  // Magically line the datepicker up with RHS of other inputs
  padding-right: 28px;
  width: calc(100% - 53px);
}

.Form__label {
  flex-basis: 200px;
}

.Form__input {
  @include body-text;

  &--numeric {
    @include font-monospace;
    text-align: right;
    padding-right: 10px;
  }

  &--submit {
    color: $white;
    cursor: pointer;
    padding: 5px 10px;
    background: #222;
    border: none;
    width: 100%;
  }
}
