@import "./theme/colors.scss";
@import "./theme/typography.scss";

.Form {
  @include body-text;
  padding: 5px 0;

  border: 2px solid #222;
}

.Form__fieldset {
  border: none;
}

.Form__field {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

/* stylelint-disable */
.Form__field > .react-datepicker-wrapper input {
/* stylelint-enable */
  @include font-monospace;
  text-align: right;
  // Magically line the datepicker up with RHS of other inputs
  padding-right: 32px;
  width: calc(100% - 57px);
}

.Form__label {
  flex-basis: 200px;
}

.Form__input {
  @include body-text;

  &--numeric {
    @include font-monospace;
    text-align: right;
    padding-right: 10px;
  }

  &--submit {
    color: $white;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 15px;
    background: #222;
    border: none;
  }
}
