@import "./theme/colors.scss";
@import "./theme/typography.scss";

.PaymentCalculator {
  @include body-text;
  margin: 10px;
  width: 100%;
}

.PaymentCalculator__table {
  width: 100%;
}

.PaymentCalculator__row {
  &:nth-child(odd) {
    background-color: $gray-f0;
  }
}

.PaymentCalculator__cell {
  @include number-text;
  text-align: left;
  padding: 5px 5px 5px 20px;

  &--number {
    text-align: right;
  }
}

.PaymentCalculator__input {
  @include font-monospace;

  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  text-align: right;
  padding-right: 10px;

  /* stylelint-disable */
  &:focus {
  /* stylelint-enable */
    border-bottom: 2px solid #bbb;
  }
}
