@import "./theme/colors.scss";
@import "./theme/typography.scss";

.PaymentCalculator {
  @include body-text;
  margin: 10px;
  width: 100%;
}

.PaymentCalculator__table {
  width: 100%;
}

.PaymentCalculator__row {
  &:nth-child(odd) {
    background-color: $gray-f0;
  }
}

.PaymentCalculator__cell {
  @include number-text;
  text-align: left;
  padding: 5px 5px 5px 20px;

  &--number {
    text-align: right;
  }
}
